@font-face {
    font-family: "MiFuente";
    src: url(../fonts/Mohave-Regular.ttf);
}

.container{
    width: 90%;
}

section{
    background-image: linear-gradient(to bottom, #333F4A, #9BCD26);
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

h2{
    font-family: MiFuente, Arial, sans-serif;
    background-color: #9BCD26;
    color: black;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    border-color: #71961c;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    text-shadow: 1px 2px #29360a;
}

.separar{
    margin-left: 12%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    font-size: 36pt;
}

h3{
    font-family: MiFuente, Arial, sans-serif;
    color: #9BCD26;
    word-spacing: 0.2cm;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

p{
    color: #9BCD26;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}

article{
    margin-top: 20px;
    background-color: black;
    border-style: solid;
    border-width: 10px;
    border-color: #333F4A;
    border-radius: 10px;
    text-align: left;
    padding-bottom: 50px;
}

.parrafo > ul{
    color: rgba(247,224,24,255);
    margin-left: 150px;
    text-align: left;
}

img{
    width: 20%;
}

.parrafo{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 5px;
    border-color: #9BCD26;
    border-radius: 10px;
    border-style: solid;
    padding-top: 10px;
}

/*Parte de Guille*/

html{
    position: relative;
    background-color: #333F4A;
}

#logo-main {
    font-size: 70px;
    color: lightskyblue;
}

.enlace-nav {
    color: darkslateblue;
    font-size: 20px;
}

aside {
    width: 20%;
    padding-left: 15px;
    margin: 220px 50px 0 0;
    margin-right:50px;
    margin-right:50px;
    float: right;
    font-style: italic;
    background-color: black;
    border-radius: 30px;
    font-size: 20px;
}

#seccion-main {
    width: 70%;
    margin: 220px 0 280px 50px;
    border: 8px double #888;
    padding: 80px;
    background-color: #ccc;
    float: left;
}

table, th, td {
    border:1px solid black;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

header {
    width: 100%;
    padding: 30px 100px;
    background: linear-gradient(45deg, white, transparent);
}

h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

h4 {
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}